<div class="w-100">
  <h3 class="text-center mt-4">Watches for hire</h3>
  <div class="row pl-1 pr-3">
    <div class="cards col-8">
      <% @watches.each do |watch| %>
        <%= link_to watch_path(watch), class:"card-trip" do  %>
          <%= cl_image_tag watch.photo.key, crop: :fill if watch.photo.attached?%>
          <div class="card-trip-infos">
            <div>
              <h6><%= watch.brand %></h6>
              <p><%= watch.name %></p>
            </div>
            <h2 class="card-trip-pricing"> £<%=watch.price %>/day</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-4">
      <div id="map"
           style="width: 100%; height: 75vh;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
