<div class="w-100">
  <h3 class="text-center mt-4">Watches for hire</h3>
  <div class="row">
    <div class="cards col-8">
      <% @watches.each do |watch| %>
        <div class="card-trip">
          <%= cl_image_tag watch.photo.key, crop: :fill if watch.photo.attached?%>
          <div class="card-trip-infos">
            <div>
              <%= link_to watch.name, watch_path(watch) %>
              <p><%= watch.brand %></p>
            </div>
            <h2 class="card-trip-pricing"> £<%=watch.price %>/day</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <div id="map"
           style="width: 125%; height: 75vh;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
