<nav class="navbar navbar-light bg-light justify-content-end">
    <button class="btn btn-outline-success" type="button"><%= link_to 'Log In', new_user_session_path %></button>
</nav>

<div class="jumbotron jumbotron-fluid">
    <img src="" alt="">
      <h1 class="display-3 text-center">Watches for hire</h1>
      <p class="lead text-center">Search for watches to hire</p>
</div>

<!--
<div class="d-flex justify-content-center m-4">
  <%= link_to watches_path do  %>
    <button type="button" class="btn btn-primary">Dead Button</button>
  <% end %>
</div>
-->

<div class="container">
  <div class="cards">
    <% @watches.each do |watch| %>
      <div class="card-trip">
        <%= cl_image_tag watch.photo.key, crop: :fill if watch.photo.attached?%>
        <div class="card-trip-infos">
          <div>
            <%= link_to watch.name, watch_path(watch) %>
            <p><%= watch.brand %></p>
          </div>
          <h2 class="card-trip-pricing"> £<%=watch.price %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>

